In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('dataset.csv')
df.head()

,Soil_moisture,Soil_humidity,rainfall,Temperature,Vegetation,Soil_type,Status
0,54,70,202.935536,22,Grass,Loam Soil,1
1,12,40,226.655537,20,Grass,Loam Soil,0
2,34,35,263.964248,26,Grass,Loam Soil,1
3,7,44,242.864034,44,Grass,Loam Soil,0
4,50,23,262.717340,38,Grass,Loam Soil,0

In [6]:
df.shape

(100000, 7)

In [7]:
df.describe()

       Soil_moisture  Soil_humidity     rainfall    Temperature         Status
count  100000.000000  100000.000000  2200.000000  100000.000000  100000.000000
mean       45.484070      45.016790   103.463655      22.536100       0.536500
std        25.993998      14.726676    54.958389      13.251352       0.498668
min         1.000000      20.000000    20.211267       0.000000       0.000000
25%        23.000000      32.000000    64.551686      11.000000       0.000000
50%        45.000000      45.000000    94.867624      23.000000       1.000000
75%        68.000000      58.000000   124.267508      34.000000       1.000000
max        90.000000      70.000000   298.560117      45.000000       1.000000

In [8]:
df.isnull().sum()

Soil_moisture        0
Soil_humidity        0
rainfall         97800
Temperature          0
Vegetation           0
Soil_type            0
Status               0
dtype: int64

In [9]:
df.corr_()

AttributeError: 'DataFrame' object has no attribute 'corr_'